/*
 * memos.css: 
 *    Styles for 'Memos' go in this file 
 */

/* Nothing yet */

.lyrics {
    margin-left: 3em;
    font-style: italic;
}

.memohead {
    font-size: larger;
}

.button {
    background-color: white;
    border: none;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border: 2px solid #555555;
    border-radius: 4px;
}

.button:hover {
    background-color: #555555;
    color: white;
}
.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    font-size: 16px;
}

.button2:hover {
    background-color: #4CAF50;
    color: white;
}

.button3 {
    font-size: 16px;
}

.pull-right {
    float: right !important;
  }

.attribution  {
    font-size: smaller;
}

